// c/o Nicola Pressi
// http://codepen.io/ibanez182/pen/LZPgrY

$items: 3;
$animation-time: 4s;
$transition-time: 1s;
$scale: 10%;

$total-time: ($animation-time * $items);
$scale-base-1: (1 + $scale / 100%);

.bg-image-slideshow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    z-index: -1;
    
    overflow: hidden;
    }

.slideshow-image {
    @extend .bg-image-slideshow; 
    z-index: -1;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    animation-name: kenburns;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: $total-time;
    opacity: 1;
    
    @for $i from 1 through $items {
        &:nth-child(#{$i}) {
            animation-name: kenburns-#{$i};
            z-index: ($items - $i);
            }
        }
    }

.slideshow-image:first-child {
    background-image: url(../images/intro_bg-slide01.jpg);
    }
.slideshow-image:nth-child(2) {
    background-image: url(../images/intro_bg-slide02.jpg);
    }
.slideshow-image:nth-child(3) {
    background-image: url(../images/intro_bg-slide03.jpg);
    }

@for $i from 1 through $items {
  @keyframes kenburns-#{$i} {
    $animation-time-percent: percentage($animation-time / $total-time);
    $transition-time-percent: percentage($transition-time / $total-time);
    
    $t1: ($animation-time-percent * ($i - 1) - $transition-time-percent / 2);
    $t2: ($animation-time-percent * ($i - 1) + $transition-time-percent / 2);
    @if($t1 < 0%) { $t1: 0%; }
    @if($t2 < 0%) { $t2: 0%; }

    $t3: ($animation-time-percent * ($i) - $transition-time-percent / 2);
    $t4: ($animation-time-percent * ($i) + $transition-time-percent / 2);
    @if($t3 > 100%) { $t3: 100%; }
    @if($t4 > 100%) { $t4: 100%; }

    $t5: (100% - $transition-time-percent / 2);
    $t6: (($t4 - $t1) * 100% / $t5);

    #{$t1} { opacity: 1; }
    #{$t2} { opacity: 1; }
    #{$t3} { opacity: 1; }
    #{$t4} { opacity: 0; }
    
    @if($i != $items) {
      100% { opacity: 0; }
    }
    
    @if($i == 1) {
    
      #{$t5} { opacity: 0; }
      100% { opacity: 1; }
    }
  }
}